.AppBar {
  align-items: center;
  margin-bottom: 10px;
}

.Container {
  background: aqua;
}

.Content {
  margin-top: 60px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.errorText {
  padding-left: 10px;
}

.errorIcon {
  padding: 10px;
}
